*build
*.user
*autosave
.vscode
*.jpg
*.png
.idea/
*.otf
*.ttf
server/app/__pycache__/*
*/__pycache__/*
server/flask_session/
*.h5
*.o
.qmake.stash
GenerateText/Makefile
moc_*
callgrind.out.*
**/__pycache__/**
*.swp
