<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text detection</title>
</head>

<body>
<form method="post" enctype="multipart/form-data">
    <input type="file" multiple="" name="files" accept="image/*" required>
    <input type="submit">
</form>
{% for result in results %}
    <hr>
    <div>{{ result[0] }}</div>
    <div>
        <img src="{{ result[1] }} ">
    </div>
{% endfor %}

<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear', false);
        xhr.send();
    }
</script>
</body>

</html>