<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text detection</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" accept="image/*">
        <input type="submit">
    </form>
    {% for coordinate in coordinates %}
    <hr>
    <div>{{ coordinate }}</div>

    <hr>
    <div>
        <img src="{{ images[loop.index0]  }} ">
    </div>
    {% endfor %}

    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear', false);
        xhr.send();
    </script>
</body>

</html>